node_modules
server/bundle.js
server/server_bundle.js
server/data/config.json
server/data/structure_pq.json
storage
todo.txt
missions.json
cla_list.json
client/css/style.css
client/js/bundle.js
client/js/client_bundle.js
dist
package-lock.json
/scripts